---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  interval: 1h
  values:
    fullnameOverride: k8s-gateway
    domain: "${SECRET_DOMAIN:=flux.local}"
    ttl: 1
    service:
      type: LoadBalancer
      port: 53
      annotations:
        lbipam.cilium.io/ips: ${K8S_GATEWAY:=192.168.10.4}
      externalTrafficPolicy: Cluster
    watchedResources: ["HTTPRoute", "Service"]
