---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  chartRef:
    kind: OCIRepository
    name: plex
  interval: 30m
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              PLEX_ADVERTISE_URL: "https://plex.${SECRET_DOMAIN:=flux.local}:443,http://${PLEX_IP}:32400,http://plex.media.svc.cluster.local:32400"
              ADVERTISE_IP: "https://plex.${SECRET_DOMAIN:=flux.local}:443,http://${PLEX_IP}:32400"
              ALLOWED_NETWORKS: "192.168.1.0/24,192.168.20.0/24,192.168.10.0/24,10.42.0.0/16,${SECRET_DOMAIN:=flux.local}"
              PLEX_NO_AUTH_NETWORKS: "192.168.1.0/24, 192.168.20.0/24, 10.42.0.0/16"
              PLEX_UID: 1000
              PLEX_GID: 1000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 500m
              limits:
                cpu: 4000m
                memory: 8Gi
                gpu.intel.com/i915: 1
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - emby
              topologyKey: "kubernetes.io/hostname"
      terminationGracePeriodSeconds: 300
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${PLEX_IP:=192.168.10.111}"
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "false"
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN:=flux.local}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      transcode:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /transcode
            subPath: transcode
      media:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data
        globalMounts:
          - path: /media
            readOnly: true
      logs:
        type: nfs
        server: nas.internal
        path: /mnt/apps/apps-nfs/plex-logs
        globalMounts:
          - path: "/config/Library/Application Support/Plex Media Server/Logs"
      backup:
        type: nfs
        server: nas.internal
        path: /mnt/apps/backup/apps/plex
        globalMounts:
          - path: /backup
