---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbitmanage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  refreshInterval: 5m
  target:
    name: qbitmanage-secret
    template:
      data:
        config.yaml: |
          # This is the Materia QbitManage config file
          # Please refer to the link below for more details on how to set up the configuration file
          # https://github.com/StuffAnThings/qbit_manage/wiki/Config-Setup

          # commands:
            # The commands defined below will IGNORE any commands used in command line and docker env variables.
            # dry_run: false
            # cross_seed: true
            # recheck: true
            # cat_update: true
            # tag_update: true
            # rem_unregistered: true
            # tag_tracker_error: true
            # rem_orphaned: true
            # tag_nohardlinks: true
            # share_limits: true
            # skip_qb_version_check: true
            # skip_cleanup: false

          qbt:
            host: qbittorrent.torrents.svc.cluster.local
            user:
            pass:

          settings:
            force_auto_tmm: false # Will force qBittorrent to enable Automatic Torrent Management for each torrent.
            force_auto_tmm_ignore_tags: #Torrents with these tags will be ignored when force_auto_tmm is enabled.
            - cross-seed
            tracker_error_tag: issue # Will set the tag of any torrents that do not have a working tracker.
            nohardlinks_tag: noHL # Will set the tag of any torrents with no hardlinks.
            share_limits_tag: ~share_limit # Will add this tag when applying share limits to provide an easy way to filter torrents by share limit group/priority for each torrent
            share_limits_min_seeding_time_tag: MinSeedTimeNotReached
            share_limits_min_num_seeds_tag: MinSeedsNotMet
            share_limits_last_active_tag: LastActiveLimitNotReached
            cross_seed_tag: cross-seed # Will set the tag of any torrents that are added by cross-seed command
            cat_filter_completed: true # Filters for completed torrents only when running cat_update command
            ignoreTags_OnUpdate: # When running tag-update function, it will update torrent tags for a given torrent even if the torrent has at least one or more of the tags defined here. Otherwise torrents will not be tagged if tags exist.
            - noHL
            - issue
            - cross-seed
            - MinSeedTimeNotReached
            - MinSeedsNotMet
            - LastActiveLimitNotReached
            share_limits_filter_completed: true
            tag_nohardlinks_filter_completed: true
            cat_update_all: true # Checks and updates all torrent categories if set to True when running cat_update command, otherwise only update torrents that are uncategorized
            disable_qbt_default_share_limits: true # Allows QBM to handle share limits by disabling qBittorrents default Share limits. Only active when the share_limits command is set to True
            force_retag_all: false
            rem_unregistered_filter_completed: false
            tag_stalled_torrents: true
            rem_unregistered_ignore_list: []
            stalled_tag: stalledDL

          directory:
            cross_seed: /data/torrents/cross-seed/
            root_dir: /data/torrents/downloads/
            remote_dir: /data/torrents/downloads/
            recycle_bin: /data/torrents/recycle-bin
            torrents_dir: /torrents
            orphaned_dir: /data/torrents/orphaned_data

          cat:{{ .QBITMANAGE_CAT | nindent 2 }}
          cat_change:
            anime.cross-seed: anime-completed.cross-seed
            anime-movies.cross-seed: anime-movies-completed.cross-seed
            movies.cross-seed: movies-completed.cross-seed
            movies-uhd.cross-seed: movies-uhd-completed.cross-seed
            tv.cross-seed: tv-completed.cross-seed

          #bhd:
          #  apikey:

          tracker:{{ .QBITMANAGE_TRACKERS | nindent 2 }}

          nohardlinks:
          - anime-completed
          - anime-completed.cross-seed
          - anime-movies-completed
          - anime-movies-completed.cross-seed
          - movies-completed
          - movies-completed.cross-seed
          - movies-uhd
          - movies-uhd.cross-seed
          - tv-completed
          - tv-completed.cross-seed
          # - ebooks-completed
          # - music-completed

          share_limits:
            tier_1.noHL:
              priority: 1
              include_any_tags:{{ .QBITMANAGE_TIER1_TAGS | nindent 4 }}
              include_all_tags:
              - noHL
              categories:
              - anime-completed
              - anime-completed.cross-seed
              - anime-movies-completed
              - anime-movies-completed.cross-seed
              - movies-completed
              - movies-completed.cross-seed
              - movies-uhd
              - movies-uhd.cross-seed
              - tv-completed
              - tv-completed.cross-seed
              max_ratio: -1
              min_seeding_time: 0
              max_seeding_time: 525600 # 365d
              limit_upload_speed: -1
              last_active: 5
              min_num_seeds: 10
              resume_torrent_after_change: true
              add_group_to_tag: true
              cleanup: true
            tier_1:
              priority: 2
              include_any_tags:{{ .QBITMANAGE_TIER1_TAGS | nindent 4 }}
              categories:
              - anime-completed
              - anime-completed.cross-seed
              - anime-movies-completed
              - anime-movies-completed.cross-seed
              - movies-completed
              - movies-completed.cross-seed
              - movies-uhd
              - movies-uhd.cross-seed
              - tv-completed
              - tv-completed.cross-seed
              max_ratio: -1
              min_seeding_time: 0
              max_seeding_time: -1
              limit_upload_speed: -1
              resume_torrent_after_change: true
              add_group_to_tag: true
              cleanup: true
            tier_2.noHL:
              priority: 3
              include_any_tags:{{ .QBITMANAGE_TIER2_TAGS | nindent 4 }}
              include_all_tags:
              - noHL
              categories:
              - anime-completed
              - anime-completed.cross-seed
              - anime-movies-completed
              - anime-movies-completed.cross-seed
              - movies-completed
              - movies-completed.cross-seed
              - movies-uhd
              - movies-uhd.cross-seed
              - tv-completed
              - tv-completed.cross-seed
              max_ratio: -1
              min_seeding_time: 0
              max_seeding_time: 172800 # 120d
              limit_upload_speed: -1
              resume_torrent_after_change: true
              add_group_to_tag: true
              cleanup: true
            tier_2:
              priority: 4
              include_any_tags:{{ .QBITMANAGE_TIER2_TAGS | nindent 4 }}
              categories:
              - anime-completed
              - anime-completed.cross-seed
              - anime-movies-completed
              - anime-movies-completed.cross-seed
              - movies-completed
              - movies-completed.cross-seed
              - movies-uhd
              - movies-uhd.cross-seed
              - tv-completed
              - tv-completed.cross-seed
              max_ratio: -1
              min_seeding_time: 0
              max_seeding_time: -1
              limit_upload_speed: 1000
              resume_torrent_after_change: true
              add_group_to_tag: true
              cleanup: true
            tier_3:
              priority: 5
              include_any_tags:{{ .QBITMANAGE_TIER3_TAGS | nindent 4 }}
              categories:
              - anime-completed
              - anime-completed.cross-seed
              - anime-movies-completed
              - anime-movies-completed.cross-seed
              min_seeding_time: 0
              max_seeding_time: 180
              cleanup: true
            ebooks-completed:
              priority: 6
              include_all_tags:{{ .QBITMANAGE_EBOOK_TAGS | nindent 4 }}
              categories:
              - ebooks-completed
              resume_torrent_after_change: true
              cleanup: false
            music-completed:
              priority: 7
              include_any_tags:{{ .QBITMANAGE_MUSIC_TAGS | nindent 4 }}
              categories:
              - music-completed
              min_seeding_time: 0
              max_seeding_time: -1
              resume_torrent_after_change: true
              cleanup: false
            default:
              priority: 999
              max_ratio: -1
              min_seeding_time: 0
              max_seeding_time: -1
              cleanup: false

          recyclebin:
            enabled: true
            empty_after_x_days: 2
            save_torrents: true
            split_by_category: false

          orphaned:
            empty_after_x_days: 2
            exclude_patterns:
            - '**/.DS_Store'
            - '**/Thumbs.db'
            - '**/@eaDir'
            - /data/torrents/temp/**
            - '**/*.!qB'
            - '**/*_unpackerred'
            - '**/*.nfs*'
            max_orphaned_files_to_delete: 50

          notifiarr:
            apikey: "{{ .NOTIFIARR_QBITMANAGE_API_KEY }}"
            instance: Malpractis

          webhooks:
            error: notifiarr
            run_start: notifiarr
            run_end: notifiarr
            function:
              cross_seed: notifiarr
              recheck: notifiarr
              cat_update: notifiarr
              tag_update: notifiarr
              rem_unregistered: notifiarr
              tag_tracker_error: notifiarr
              rem_orphaned: notifiarr
              tag_nohardlinks: notifiarr
              cleanup_dirs: notifiarr
              share_limits: notifiarr
  dataFrom:
    - extract:
        key: qbitmanage
