---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app emby
spec:
  chartRef:
    kind: OCIRepository
    name: emby
  interval: 30m
  values:
    controllers:
      emby:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/home-operations/emby
              tag: 4.9.1.90@sha256:31448f230530fbeac1164fa3bee775cdc3fb8434cfdda3ce9edcb5e4ee523033
            probes:
              liveness: &probes
                type: HTTP
                path: /
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 100m
              limits:
                cpu: 4000m
                memory: 8Gi
                gpu.intel.com/i915: 1
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - plex
              topologyKey: "kubernetes.io/hostname"
      terminationGracePeriodSeconds: 300
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${EMBY_IP:=192.168.10.110}"
        ports:
          http:
            port: &port 8096
            protocol: HTTP
          autodiscovery:
            port: 7359
            protocol: UDP
    route:
      app:
        hostnames:
          - "emby.${SECRET_DOMAIN:=flux.local}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      transcode:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /transcode
            subPath: transcode
      data:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data
        globalMounts:
          - path: /data
            readOnly: true
      backup:
        type: nfs
        server: nas.internal
        path: /mnt/tank/backup/apps/emby
        globalMounts:
          - path: /backup
