---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    # if I ever lose the db, my setup is based heavily on https://github.com/joryirving/home-ops/tree/77478606352bfb43e6c1c5fcf0b5fa134d007095/terraform/authentik
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      envFrom:
        - secretRef:
            name: *secret
      env:
        # Use the right source IP
        # TODO netpol to limit traffic to gateway pods
        - name: AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS
          value: 10.42.0.0/16
        # PostgreSQL SSL settings
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: verify-full
        - name: AUTHENTIK_POSTGRESQL__SSLROOTCERT
          value: /var/run/secrets/postgresql/ca.crt
        - name: AUTHENTIK_POSTGRESQL__SSLCERT
          value: /var/run/secrets/postgresql/tls.crt
        - name: AUTHENTIK_POSTGRESQL__SSLKEY
          value: /var/run/secrets/postgresql/tls.key
        # Media file storage
        - name: AUTHENTIK_STORAGE__MEDIA__BACKEND
          value: s3
        - name: AUTHENTIK_STORAGE__MEDIA__S3__USE_SSL
          value: "true"
        - name: AUTHENTIK_STORAGE__MEDIA__S3__SECURE_URLS
          value: "true"
        - name: AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT
          value: https://${B2_ENDPOINT}
        - name: AUTHENTIK_STORAGE__MEDIA__S3__REGION
          value: ${AUTHENTIK_STORAGE_MEDIA_S3_REGION}
        - name: AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY
          value: ${AWS_ACCESS_KEY_ID}
        - name: AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY
          value: ${AWS_SECRET_ACCESS_KEY}
        - name: AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME
          value: ${AUTHENTIK_MEDIA_BUCKET_NAME}
        - name: AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN
          value: ${B2_ENDPOINT}/${AUTHENTIK_MEDIA_BUCKET_NAME}
      volumeMounts:
        - name: postgres-certs
          mountPath: /var/run/secrets/postgresql
      volumes:
        - name: postgres-certs
          secret:
            defaultMode: 0440
            secretName: postgres-authentik-cert
    authentik:
      postgresql:
        host: postgres-cluster-rw.database.svc.cluster.local
        name: *app
        user: *app
      email:
        port: 587
        use_tls: true
      redis:
        host: dragonfly-authentik
    server:
      autoscaling: &autoscaling
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPUUtilizationPercentage: 60
        behavior:
          scaleUp:
            stabilizationWindowSeconds: 300
          scaleDown:
            stabilizationWindowSeconds: 300
      resources:
        requests:
          cpu: 300m
        limits:
          memory: 1Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    worker:
      autoscaling: *autoscaling
      resources:
        requests:
          cpu: 300m
        limits:
          memory: 1Gi
    geoip:
      enabled: false
      existingSecret:
        secretName: *secret
        accountId: "AUTHENTIK_GEOIP_ACCOUNT_ID"
        licenseKey: "AUTHENTIK_GEOIP_LICENSE_KEY"
    prometheus:
      rules:
        enabled: true
  valuesFrom:
    - targetPath: authentik.email.host
      kind: Secret
      name: *secret
      valuesKey: EMAIL_SERVER
    - targetPath: authentik.email.username
      kind: Secret
      name: *secret
      valuesKey: EMAIL_USER
    - targetPath: authentik.email.from
      kind: Secret
      name: *secret
      valuesKey: EMAIL_FROM
    - targetPath: authentik.email.password
      kind: Secret
      name: *secret
      valuesKey: EMAIL_PASS
