---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-operator
spec:
  chartRef:
    kind: OCIRepository
    name: intel-device-plugins-operator
  interval: 15m
  values:
    controllerExtraArgs: |
      - --devices=gpu
  postRenderers:
    - kustomize:
        patches:
          # Clean up MutatingWebhookConfigurations
          - target:
              kind: MutatingWebhookConfiguration
              name: inteldeviceplugins-mutating-webhook-configuration
            patch: |-
              apiVersion: admissionregistration.k8s.io/v1
              kind: MutatingWebhookConfiguration
              metadata:
                name: inteldeviceplugins-mutating-webhook-configuration
              webhooks:
                - name: mdlbdeviceplugin.kb.io
                  $patch: delete
                - name: mdsadeviceplugin.kb.io
                  $patch: delete
                - name: mfpgadeviceplugin.kb.io
                  $patch: delete
                - name: miaadeviceplugin.kb.io
                  $patch: delete
                - name: mnpudeviceplugin.kb.io
                  $patch: delete
                - name: mqatdeviceplugin.kb.io
                  $patch: delete
                - name: msgxdeviceplugin.kb.io
                  $patch: delete
                - name: fpga.mutator.webhooks.intel.com
                  $patch: delete
                - name: sgx.mutator.webhooks.intel.com
                  $patch: delete
          # Clean up ValidatingWebhookConfigurations
          - target:
              kind: ValidatingWebhookConfiguration
              name: inteldeviceplugins-validating-webhook-configuration
            patch: |-
              apiVersion: admissionregistration.k8s.io/v1
              kind: ValidatingWebhookConfiguration
              metadata:
                name: inteldeviceplugins-validating-webhook-configuration
              webhooks:
                - name: vdlbdeviceplugin.kb.io
                  $patch: delete
                - name: vdsadeviceplugin.kb.io
                  $patch: delete
                - name: vfpgadeviceplugin.kb.io
                  $patch: delete
                - name: viaadeviceplugin.kb.io
                  $patch: delete
                - name: vnpudeviceplugin.kb.io
                  $patch: delete
                - name: vqatdeviceplugin.kb.io
                  $patch: delete
                - name: vsgxdeviceplugin.kb.io
                  $patch: delete
