---
# talos:node-type=vm
# talos:node-ip=192.168.20.10
machine:
  type: controlplane
  install:
    diskSelector:
      model: INTEL SSDPE21D280GA
    image: factory.talos.dev/installer/{{ ENV.SCHEMATIC }}:v1.13.3
    wipe: false
    grubUseUKICmdline: true
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: matalos-c1
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "bc:24:11:a7:7e:af"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: active-backup
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
