---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flaresolverr
spec:
  chartRef:
    kind: OCIRepository
    name: flaresolverr
  interval: 15m
  values:
    controllers:
      flaresolverr:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/flaresolverr/flaresolverr
              tag: v3.4.6
            resources:
              requests:
                cpu: 15m
                memory: 150Mi
    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: 8191
