---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web-automated
spec:
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
  interval: 1h
  values:
    controllers:
      calibre-web-automated:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: crocodilestick/calibre-web-automated
              tag: V3.1.4
            env:
              CACHE_DIR: /cache
              TZ: "${TIMEZONE:-Etc/UTC}"
              PUID: 568
              PGID: 568
              DOCKER_MODS: >-
                {{- $items := list
                  "// renovate: lsio-docker-mod"
                  "ghcr.io/linuxserver/mods:universal-calibre-v7.26.0"
                -}}
                {{- $filtered := list -}}
                {{- range $item := $items -}}
                  {{- if not (hasPrefix "//" $item) -}}
                    {{- $filtered = append $filtered $item -}}
                  {{- end -}}
                {{- end -}}
                {{- $filtered | join "|" -}}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 60
                  failureThreshold: 45
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      terminationGracePeriodSeconds: 300
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8083
    route:
      app:
        hostnames:
          - 'calibre.${SECRET_DOMAIN}'
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-config"
        globalMounts:
          - path: /config
      transcode:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /transcode
            subPath: transcode
      ebooks:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data/media/ebooks
        globalMounts:
          - path: /calibre-library
            readOnly: false
      ingest:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data/torrents/ebooks_watch
        globalMounts:
          - path: /cws-book-ingest
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
