---
clusterName: matalos

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.10.20:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.10.20"
  - "matalos.materia.k8s"
  - "matalos.internal"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "matalos-c1"
    ipAddress: "192.168.20.10"
    installDiskSelector:
      model: "QEMU*"
      size: "<=100G"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/eb42ac300ab39b1ff84e3e99ab6ebbffc77673845eaae7b97940544a20f5b1f0
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "bc:24:11:a7:7e:af"
              physical: true
        dhcp: false
        addresses:
          - "192.168.20.10/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 9000
        vlans:
          - # IOT
            vlanId: 70
            dhcp: false
            mtu: 9000
          - # VPN
            vlanId: 90
            dhcp: false
            mtu: 9000
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/intel-ucode
            - siderolabs/qemu-guest-agent
            - siderolabs/nfsrahead # NFS Performance
    patches:
      - "@./patches/manifests/machine-uservolumes.yaml"
  - hostname: "matalos-c2"
    ipAddress: "192.168.20.11"
    installDiskSelector:
      model: "Samsung SSD 980 1TB"
    machineSpec:
      secureboot: false
    # Additional kernel commands needed for bonding
    # kernelArgs: bond=bond0:enp3s0,enp4s0:mode=802.3ad,xmit_hash_policy=layer3+4:9000 talos.network.interface.ignore=eno1 ip=192.168.20.11::192.168.20.1:255.255.255.0::bond0
    talosImageURL: factory.talos.dev/installer/3a9b4e0827232f357f3baa6c4a704929ab06d83d7572c3b7ed93701743b725d1
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "02:76:c6:*"
              physical: true
        addresses:
          - "192.168.20.11/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 9000
        vlans:
          - # IOT
            vlanId: 70
            dhcp: false
            mtu: 9000
          - # VPN
            vlanId: 90
            dhcp: false
            mtu: 9000
      - deviceSelector:
          hardwareAddr: "f8:75:a4:2c:46:e6"
        ignore: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/i915 # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
    patches:
      - "@./patches/manifests/machine-systemvolumes.yaml"
    nodeLabels:
      networking.home.arpa/vpn-capable: "true"
  - hostname: "matalos-c3"
    ipAddress: "192.168.20.12"
    installDiskSelector:
      model: "Samsung SSD 980 1TB"
    machineSpec:
      secureboot: false
    # Additional kernel commands needed for bonding
    # kernelArgs: bond=bond0:enp3s0,enp4s0:mode=802.3ad,xmit_hash_policy=layer3+4:9000 talos.network.interface.ignore=eno1 ip=192.168.20.12::192.168.20.1:255.255.255.0::bond0
    talosImageURL: factory.talos.dev/installer/b96735e7e75b5ec48d75ec858bd5e9f0ff48eaafd7d24efe75119b151d831118
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "02:76:c6:*"
              physical: true
        addresses:
          - "192.168.20.12/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 9000
        vlans:
          - # IOT
            vlanId: 70
            dhcp: false
            mtu: 9000
          - # VPN
            vlanId: 90
            dhcp: false
            mtu: 9000
      - deviceSelector:
          hardwareAddr: "98:fa:9b:92:ef:43"
        ignore: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/intel-ucode # Intel iGPU
            - siderolabs/i915 # Intel iGPU
            - siderolabs/mei # Intel iGPU
            - siderolabs/nfsrahead # NFS Performance
    patches:
      - "@./patches/manifests/machine-systemvolumes.yaml"
    nodeLabels:
      networking.home.arpa/vpn-capable: "true"

# Global patches
patches:
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-longhorn.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/manifests/watchdogtimerconfig.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
  kernelModules:
    - name: nvme_tcp
    - name: vfio_pci
    - name: uio_pci_generic
