---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-anime
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: radarr-anime-secret
    template:
      data:
        RADARR__AUTH__APIKEY: "{{ .RADARR_ANIME_API_KEY }}"
  dataFrom:
    - extract:
        key: radarr
