---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-gpu
spec:
  chartRef:
    kind: OCIRepository
    name: intel-device-plugins-gpu
  interval: 1h
  values:
    name: i915
    sharedDevNum: 3
    nodeFeatureRule: true
