---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  chartRef:
    kind: OCIRepository
    name: stash
  interval: 1h
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: docker.io/stashapp/stash
              tag: v0.30.1@sha256:4cac18873ea052f03510602d9e1a9b29e6241a393a111479010292b7a1e28a5e
            env:
              STASH_PORT: &port 80
              STASH_STASH: /data
              STASH_GENERATED: /generated
              STASH_METADATA: /metadata
              STASH_CACHE: /cache
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness: &probes
                enabled: true
                spec:
                  initialDelaySeconds: 0
                  timeoutSeconds: 10
                  periodSeconds: 30
                  failureThreshold: 5
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                cpu: 4000m
                memory: 4Gi
                gpu.intel.com/i915: 1
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN:=flux.local}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      app-data:
        existingClaim: stash
        advancedMounts:
          stash:
            app:
              - path: /root/.stash
                subPath: config
              - path: /blobs
                subPath: blobs
              - path: /cache
                subPath: cache
              - path: /generated
                subPath: generated
              - path: /metadata
                subPath: metadata
      data:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data/stash
        globalMounts:
          - path: /data
