---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  chartRef:
    kind: OCIRepository
    name: stash
  interval: 1h
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: docker.io/stashapp/stash
              tag: v0.29.3@sha256:a62f2d8afadbe029403777d18f54b2455b209a223aa28c6d3985c3cf9df2e08a
            env:
              STASH_PORT: &port 80
              STASH_STASH: /data
              STASH_GENERATED: /generated
              STASH_METADATA: /metadata
              STASH_CACHE: /cache
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness: &probes
                enabled: true
                spec:
                  initialDelaySeconds: 0
                  timeoutSeconds: 10
                  periodSeconds: 30
                  failureThreshold: 5
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                cpu: 4000m
                memory: 8Gi
                gpu.intel.com/i915: 1
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - 'stash.${SECRET_DOMAIN}'
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: stash-config
        advancedMounts:
          stash:
            app:
              - path: "/root/.stash"
      cache:
        enabled: true
        existingClaim: stash-cache
        advancedMounts:
          stash:
            app:
              - path: "/cache"
      generated:
        enabled: true
        existingClaim: stash-generated
        advancedMounts:
          stash:
            app:
              - path: "/generated"
      metadata:
        enabled: true
        existingClaim: stash-metadata
        advancedMounts:
          stash:
            app:
              - path: "/metadata"
      blobs:
        enabled: true
        existingClaim: stash-blobs
        advancedMounts:
          stash:
            app:
              - path: "/blobs"
      data:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data/stash
        globalMounts:
          - path: /data
