---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: recyclarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: recyclarr-secret
    template:
      data:
        secrets.yaml: |
          sonarr_url: http://sonarr.media.svc.cluster.local
          sonarr_apikey: {{ .SONARR_API_KEY }}
          sonarr_anime_url: http://sonarr-anime.media.svc.cluster.local
          sonarr_anime_apikey: {{ .SONARR_ANIME_API_KEY }}
          radarr_url: http://radarr.media.svc.cluster.local
          radarr_apikey: {{ .RADARR_API_KEY }}
          radarr_4k_url: http://radarr-4k.media.svc.cluster.local
          radarr_4k_apikey: {{ .RADARR_4K_API_KEY }}
          radarr_anime_url: http://radarr-anime.media.svc.cluster.local
          radarr_anime_apikey: {{ .RADARR_ANIME_API_KEY }}
  dataFrom:
    - extract:
        key: radarr
    - extract:
        key: sonarr
