---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  interval: 1h
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      # NOTE: Enable the driver and shapshotter if you want to use CephFS
      enableCephfsDriver: true
      enableCephfsSnapshotter: true
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDProvisionerResource: |
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
            limits:
              memory: 1Gi # Default
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 16Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
              cpu: 250m # default
            limits:
              memory: 1Gi # Default
        - name : liveness-prometheus
          resource:
            requests:
              memory: 64Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
    resources:
      requests:
        cpu: 100m # unchangable
        memory: 128Mi # unchangable
      limits: {}
