---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cross-seed
spec:
  chartRef:
    kind: OCIRepository
    name: cross-seed
  interval: 1h
  values:
    controllers:
      cross-seed:
        annotations:
          secret.reloader.stakater.com/reload: cross-seed-secret
        pod:
          annotations:
            k8s.ksgate.org/qbittorrent-deployment: |-
              {
                "apiVersion": "apps/v1",
                "kind": "Deployment",
                "name": "qbittorrent",
                "namespace": "torrents",
                "expression": "resource.status.readyReplicas >= 1"
              }
            k8s.ksgate.org/prowlarr-deployment: |-
              {
                "apiVersion": "apps/v1",
                "kind": "Deployment",
                "name": "prowlarr",
                "namespace": "media",
                "expression": "resource.status.readyReplicas >= 1"
              }
          schedulingGates:
            - name: k8s.ksgate.org/qbittorrent-deployment
            - name: k8s.ksgate.org/prowlarr-deployment
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
            env:
              CROSS_SEED_PORT: &port 2468
            args: ["daemon"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 120
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          cross-seed:
            app:
              - path: /config
      secret-file:
        type: secret
        name: cross-seed-secret
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      data:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data
        globalMounts:
          - path: /data
      torrents:
        type: nfs
        server: nas.internal
        path: /mnt/tank/data/torrents/BT_backup
        globalMounts:
          - path: /torrents
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
