---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - certificate.yaml
patches:
  - target:
      kind: Cluster
    patch: |-
      kind: Cluster
      metadata:
        name: not-used
      spec:
        certificates:
          serverTLSSecret: postgres-cluster-server-cert
          serverCASecret: postgres-cluster-server-cert
          clientCASecret: postgres-cluster-client-cert
          replicationTLSSecret: postgres-cluster-client-cert
        postgresql:
          pg_hba:
            - hostnossl all all 10.42.0.0/16      scram-sha-256
            - hostssl   all all all               cert clientcert=verify-full
        managed:
          roles:
            - name: authentik
              ensure: present
              login: true
              superuser: false
              disablePassword: true
#         bootstrap:
#           recovery:
#             recoveryTarget:
#               targetTime: "2025-05-23 19:00:00.000000-05:00"
